<launch>
    <!-- Arguments -->
    <arg name="robot_name" default="/" description="Change this for namespacing."/>
    <arg name="rviz" default="false" description="Set to true to run RViz in parallel."/>
    <arg name="lite" default="false" description="Set to true if you're using CHAMP lite version. Only useful for microcontrollers."/>
    <arg name="ros_control_file" default="$(find-pkg-share spot_config)/config/ros_control/ros_control.yaml" description="Path to ROS Control configurations."/>
    <arg name="gazebo_world" default="$(find-pkg-share spot_config)/worlds/outdoor.world" description="Path to Gazebo world to load."/>
    <arg name="gui" default="true" description="Enable GUI in Gazebo."/>
    <arg name="world_init_x" default="0.0" description="X Initial position of the robot in Gazebo World."/>
    <arg name="world_init_y" default="0.0" description="Y Initial position of the robot in Gazebo World."/>
    <arg name="world_init_heading" default="0.0" description="Initial heading of the robot in Gazebo World."/>

    <!-- Push namespace -->
    <group>
        <push-ros-namespace ns="$(var robot_name)"/>

        <!-- ROS Control configuration -->
        <include file="$(find-pkg-share spot_config)/launch/include/ros_control.launch.py">
            <arg name="ros_control_file" value="$(var ros_control_file)"/>
        </include>

        <!-- Gazebo simulation -->
        <include file="$(find-pkg-share spot_config)/launch/include/gazebo.launch.py">
            <arg name="gazebo_world" value="$(var gazebo_world)"/>
            <arg name="gui" value="$(var gui)"/>
            <arg name="world_init_x" value="$(var world_init_x)"/>
            <arg name="world_init_y" value="$(var world_init_y)"/>
            <arg name="world_init_heading" value="$(var world_init_heading)"/>
        </include>

        <!-- RViz Node -->
        <node if="$(var rviz)" pkg="rviz2" exec="rviz2" name="rviz" output="screen"
              args="-d $(find-pkg-share champ_navigation)/rviz/navigate.rviz -f $(var robot_name)/map"/>
    </group>
</launch>
